<div id="container">
  <div id="categorie">
    <div id="Drums">
      <mat-card (click)="onClickCard('drums')" class="example-card">
        <img mat-card-image src="../../../../assets/img/DRUMS.png" alt="Photo of DRUMS">
        <img class="bi-soundwave" src="../../../../assets/img/drum-svgrepo-com.svg" width="12%" alt="">
      </mat-card>
    </div>

    <div id="Instrumental">
      <mat-card (click)="onClickCard('instrumental')" class="example-card">
        <img mat-card-image src="../../../../assets/img/INSTRUMENTAL.png" alt="Photo of Instrumental">
        <img class="bi-soundwave" src="../../../../assets/img/workstation-svgrepo-com.svg" width="12%" alt="">
      </mat-card>

    </div>
    <div id="Vocal">
      <mat-card (click)="onClickCard('vocal')" class="example-card">
        <img mat-card-image src="../../../../assets/img/vocal.png" alt="Photo of a VOCAL">
        <img class="bi-soundwave" src="../../../../assets/img/modern-mic-svgrepo-com.svg" width="12%" alt="">
      </mat-card>

    </div>
    <div id="Fx">
      <mat-card (click)="onClickCard('fx')" class="example-card">
        <img mat-card-image src="../../../../assets/img/fx.png" alt="Photo of fx">
        <img class="bi-soundwave" src="../../../../assets/img/fx-rounded-svgrepo-com.svg" width="12%" alt="">
      </mat-card>
    </div>

  </div>
</div>
